html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(95.2deg, rgb(173, 252, 234) 26.8%, rgb(192, 229, 246) 64%);
}

canvas {
    width: 75vw;
    height: 75vh;
    background-color: #63b5c780;
    display: block;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

Light {
    background-color: blueviolet;
}