html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image: url("img/3. Background/behind-canvas/blick-auf-welliges-meer-oder-meerwasser.jpg");
    /* background-image: url("img/3. Background/behind-canvas/das-sonnenlicht-unter-wasser-strahlt-durch-den-ozean.jpg");  */
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(45deg, hsla(247, 46%, 47%, 1) 0%, hsla(198, 58%, 51%, 1) 50%); */
}

canvas {
    width: 75vw;
    height: 75vh;
    background-color: #544ce1ab;
    display: block;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

Light {
    background-color: blueviolet;
}

