@font-face {
  font-family: 'Luckiest Guy';
  src: url('img/5.Font/LuckiestGuy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image: url("img/3.Background/behind-canvas/blick-auf-welliges-meer-oder-meerwasser.jpg");
    /* background-image: url("img/3. Background/behind-canvas/das-sonnenlicht-unter-wasser-strahlt-durch-den-ozean.jpg");  */
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(45deg, hsla(247, 46%, 47%, 1) 0%, hsla(198, 58%, 51%, 1) 50%); */
}

.game {
  font-family: 'Luckiest Guy', cursive;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  background: rgba(0, 0, 0, 0.10);
  border-radius: 48px 48px 0 0;
}

header h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 42px;
  letter-spacing: 4px;
  color: #0a0325;
  margin: 0;
  text-shadow:
    0 2px 4px rgba(0,0,0,0.55),
    0 0 10px rgba(0, 200, 255, 0.3);
}

canvas {
    width: 75vw;
    height: 75vh;
    background-color: #544ce1ab;
    display: block;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

Light {
    background-color: blueviolet;
}

.overlay.hidden { display: none; }

.overlay{
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  height: 386px;
  width: 400px;
  margin: auto;
  background-color: aqua;
  border: 5px solid #2b5cff;
  border-top-color: #6fa8ff;
  border-left-color: #6fa8ff;
  border-bottom-color: #163a8f;
  border-right-color: #163a8f;

  box-shadow: 0 10px 18px rgba(0,0,0,0.35);
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 360px;
  padding: 22px;
  box-sizing: border-box;
  gap: 22px;
}

.banner h2 {
  font-size: 44px;
  letter-spacing: 1px;
  margin: 0;
}

.banner img{
  width: 100%;
  height: auto;
  image-rendering: auto;
  min-height: 240px;
  object-fit: contain;
}

.actions{
  display: flex;
  gap: 14px;
  margin-top: 10px;
}

.btn{
  cursor: pointer;
  min-width: 110px;
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  background-color: #531a82;
  color: aqua;
  border-radius: 12px;
}

.btn-secondary{
  opacity: 0.85;
  color: #fb7aa9;
}

.banner{
  transform: translateY(12px);
  opacity: 0;
  transition: transform 250ms ease, opacity 250ms ease;
}

.overlay:not(.hidden) .banner{
  transform: translateY(0);
  opacity: 1;
}


@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}